# OS
.DS_Store
Thumbs.db

# Node (if using)
node_modules/

# Logs, builds
dist/
build/
npm-debug.log
/*.log

# Allow compiled bootstrap/css in assets (needed for GitHub Pages)
!assets/dist/
!assets/dist/css/
!assets/dist/css/*.css
!assets/dist/css/*.map

